/* Global */

$color-dark: #333;
$color-light: #fff;
$color-main: #ff6b6b;
$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$font-main: 'Lato', sans-serif;
$font-text: 'Roboto', sans-serif;


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.7;
  color: $color-dark;
  font-family: $font-main;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  max-width: 1100px;
  max-height: 2000px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.1rem;
}

/* first section */

.logo {
  flex-basis: 70px;
  height: 60px;
  &__image {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.search {
  display: flex;
  flex-grow: 8;
  align-items: center;
  justify-content: center;
  &__input {
    flex-basis: 300px;
    height: 40%;
    margin-right: 10px;
    padding: 0 5px;
    font-size: 1.1rem;
    border-width: 1px;
    max-height: 30px;
    border-radius: 5%;
    &:focus {
      box-shadow: 2px 2px 2px 1px silver;
      color: $color-main;
    }
  }
  &__btn {
    flex-basis: 80px;
    height: 40%;
    font-size: 1.1rem;
    padding: 0 10px;
    background-color: $color-light;
    border: 1px solid black;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    max-height: 30px;
    border-radius: 5%;
    &:hover {
      background-color: grey;
      color: white;
    }
  }
}

.settings {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: $font-text;
  &__logo {
    font-size: 30px;
  }
  &__icon-link {
    text-decoration: none;
    color: $color-dark;
    transition: 0.5s;

    &:hover {
      color: silver;
    }
  }
}

/* second section */

.menu {
  flex-basis: 100%;
  background-color: $color-dark;
  font-family: $font-main;
  box-shadow: 1px 1px 2px 4px silver;
  margin: 0 0 80px 0;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    list-style: none;
    li {
      flex-basis: 100px;
      text-align: center;
      margin: 0 20px 0 0;
      transition-duration: 1s;
      transition-property: border-bottom;
      position: relative;
      &:hover:after {
        left: 0%;
        width: 100%;
      }
      &::after {
        content: '';
        width: 0;
        height: 1px;
        background-color: white;
        position: absolute;
        bottom: 0%; left: 50%;
        transition: 0.3s;
      }
      a {
        color: white;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          color: silver;
        }
      }
    }
    li:nth-child(4){
      flex-basis: 60%;
      display: flex;
      justify-content: flex-end;
      transition: 0.3s;
      border-bottom: none;
      &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0%;
      }
      a {
        color: white;
        text-decoration: none;
        padding: 0 30px;
        margin: 0 40px 0 0;
        border: 1px solid white;
        border-radius: 5%;
        text-align: center;
        &:hover {
          border-color: silver;
        }
      }
    }
  }
}



/* third section */

.main-articles {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin: 0 0 40px 0;
  box-shadow: 1px 1px 3px 4px silver;
  padding: 20px 0 20px 0;

  &__intro {
    flex-basis: 100%;
    text-align: center;
    margin: 40px 0 80px 0;
    font-family: $font-main;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__content {
    font-family: $font-text;
    text-align: justify;
  }

  &__wrapper {
    flex-basis: 45%;
    text-align: center;
  }

  &__image {
    width: 300px;
    height: 250px;
    box-shadow: 2px 2px 3px 4px silver;
    border-radius: 2%
  }

  &__read-more {
    padding: 5px 15px;
    background-color: $color-light;
    border: 1px solid black;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    &:hover {
      background-color: silver;
      color: white;
    }
  }
}

/* fourth section */

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  margin: 30px 0 0 0;
  box-shadow: 1px 1px 3px 4px silver;
  &__wrapper {
    flex-basis: 25%;
    text-align: center;

  }
  &__title {
      background-color: rgba(169, 169, 169, 0.5);
      padding: 20px 0;
      margin: 0 0 40px 0;
      transform: translateY(-3px);
      box-shadow: 1px 1px 3px 4px silver;
      font-size: 14px;
    }
}

/*footer*/

footer {
  width: 100%;
  padding: 20px 0 0 0;
  .media {
    text-align: center;
    display: flex;
    justify-content: center;
    li {
      margin: 0 24px 0 0;
      font-size: 0;
      i {
        font-size: 24px;
        color: white;
        background-color: black;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        transition: all 1s;
        &:hover {
          transform: rotate(360deg);

        }
      }
    }
  }
}


